<div class="tags-page">
  <div class="tags">
    <%= for tag <- @tags do %>
      <div class="tag">
        <div class="name"><%= tag.name %></div>
        <div class="<%= tag.type %>"><%= tag.type %></div>
      </div>
    <% end %>
  </div>
</div>
